#postgres
SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB_HOST=your_ip
SEMAPHORE_DB_PORT=5432
SEMAPHORE_DB=your_db_name
SEMAPHORE_DB_USER=your_db_user
SEMAPHORE_DB_PASS=password

#semaphore
SEMAPHORE_ADMIN=your_username
SEMAPHORE_ADMIN_PASSWORD=password
SEMAPHORE_ADMIN_NAME=your_name
SEMAPHORE_ADMIN_EMAIL=your@email.here
SEMAPHORE_ACCESS_KEY_ENCRYPTION=your_base64_key
TZ=your_timezone